# Applications & coreutils
include /tmp/maura_msh /bin/msh
include /tmp/maura_echo /bin/echo
include /tmp/maura_reboot /bin/reboot
include /tmp/maura_ls /bin/ls
include /tmp/maura_ps /bin/ps
include /tmp/maura_fastfetch /bin/fastfetch

# Misc
include /tmp/maura_os-release /etc/os-release

# Libraries
include /lib/x86_64-linux-gnu/libc.so.6 /lib/x86_64-linux-gnu/libc.so.6
include /lib/x86_64-linux-gnu/libm.so.6 /lib/x86_64-linux-gnu/libm.so.6
include /lib/x86_64-linux-gnu/libdl.so.2 /lib/x86_64-linux-gnu/libdl.so.2
include /lib/x86_64-linux-gnu/libpthread.so.0 /lib/x86_64-linux-gnu/libpthread.so.0
include /lib64/ld-linux-x86-64.so.2 /lib64/ld-linux-x86-64.so.2