lang go
# Config
verfmt yymmdd

# Applications & coreutils
include ./msh.maura /bin/msh
include ./cat.maura /bin/cat
include ./echo.maura /bin/echo
include ./reboot.maura /bin/reboot
include ./ls.maura /bin/ls
include ./ps.maura /bin/ps
include ./fastfetch /bin/fastfetch

# Misc
include ./os-release /etc/os-release

# Libraries
include /lib/x86_64-linux-gnu/libc.so.6 /lib/x86_64-linux-gnu/libc.so.6
include /lib/x86_64-linux-gnu/libm.so.6 /lib/x86_64-linux-gnu/libm.so.6
include /lib/x86_64-linux-gnu/libdl.so.2 /lib/x86_64-linux-gnu/libdl.so.2
include /lib/x86_64-linux-gnu/libpthread.so.0 /lib/x86_64-linux-gnu/libpthread.so.0
include /lib64/ld-linux-x86-64.so.2 /lib64/ld-linux-x86-64.so.2
include dir////usr/lib/x86_64-linux-gnu/directfb-1.7-7 /usr/lib/x86_64-linux-gnu/directfb-1.7-7
include /usr/lib/x86_64-linux-gnu/libdirectfb-1.7.so.7 /usr/lib/x86_64-linux-gnu/libdirectfb-1.7.so.7
include /usr/lib/x86_64-linux-gnu/libdirectfb-1.7.so.7.0.0 /usr/lib/x86_64-linux-gnu/libdirectfb-1.7.so.7.0.0